@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

header{
    display: block;
    background-color: #171718; 

}
.logo{
    width: 80px;
    height: 80px;
}
.logo img{
    width: 100%;
    height: 100%;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}
.nav-list{
    display: flex;
    list-style: none;
}
.nav-item{
    margin: 0px 15px;
}

.nav-link{
    text-decoration: none;
    margin: 15px;
    font-size: 1.3rem;
    color: #FFF;
}
.nav-link:hover{
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    transition: all 0.7s ease-out;
}
.nav-mobile{
    display:block;
}
.mobile-list{
    display: none;
}
.mobile-menu-icon{
    display: none;
}
.sectionBaner{
    position: relative;
    align-items: center;
    justify-content: center;
}
.container-banner{
    height: 60vh;
    display: flex;
    width: 100%;
    background-color: #292929;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    
}
.container-banner img{
    display: flex;
    object-fit: cover;
    width: 100%;
    opacity: 0.5;
}
.banner {
    position: absolute;
    width: 100%;
    top: 30%;
    text-align:center;
    justify-content: center;
}
.banner h1{
    color: #FFF;
    font-size: 3.5rem;
    letter-spacing: .3rem;
}
.banner h3{
    color: #FFF;
    font-size: 3.5rem;
    font-weight: 400;
    opacity: 0.6;
    letter-spacing: 2rem;
}
.sectionSkills{
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #F4F2F2;
}
.boxSkills{
    width: 320px;
    height: 200px;
    align-items: center;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding: 3rem;
    text-align: justify;
    margin-bottom: 2rem;
    margin-right: 1rem;
    justify-content: center;
}
.boxSkills h3 {
    font-size: 1.3rem;
    padding-bottom: 1.5rem;
}
.boxSkills p {
    font-size: 1rem;
    padding-left: 2rem;
}

.sectionPerfil{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.boxDescription{
    display: flex;
    flex-direction: column;
    width: 600px;
    flex-wrap: wrap;

    padding: 2rem;
    margin: 20px;
}
.boxDescription h3{
   font-size: 3.5rem;
}
.boxDescription h2{
   font-size: 2rem;
   padding-bottom: 1rem;
}
.boxDescription p{
   font-size: 2rem;
}

.boxPerfil{
    display: flex;
    width: 500px;
    border-radius: 30px;
    background-color: #280000;
    margin: 20px;
}
.boxPerfil img{
    width: 100%;
    height: 100%;
    border-radius: 1%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}
.sectionAtuacoes{
    margin-top: 50px;
    background-color: #280000;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
.titleActuations{
    padding: 15px;
    text-align: center;
    justify-content: center;
}
.titleActuations h3{
    font-size: 2rem;
    color: #FFF;
}

.boxesActuations{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.boxAtuacoes{
    display:flex;
    flex-direction: column;
    width: 250px;
    height: 100px;
    padding: 15px;
    margin: 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    justify-content: center;

}
.boxAtuacoes h3{
    padding: 15px;
    font-size: 1.5rem;
    color: #FFF;
    font-weight: 400;
}
.boxAtuacoes .fa-solid{
   color: #f1f1f1;
   font-size: 2rem;
   
}
@media (max-width: 768px){
    .mobile-menu-icon{
        display: flex;
    }
    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .nav-list{
        display: none;
    }
    .mobile-list{
        display: none;
        flex-direction: column;
        list-style: none;
        align-items: center;
    }
    .nav-bar{
        padding: 1.5rem 5rem;
    }
    .nav-item{
        padding-bottom: 10px;
    }
    .open{
        display: flex;
    }
    .boxSkills{
        
        height: 100px;
        
    }
    .banner { 
        justify-content: center; 
    }
    .banner h1{
        color: #FFF;
        font-size: 2.5rem;
        letter-spacing: .3rem;
    }
    .banner h3{
        color: #FFF;
        font-size: 3rem;
        font-weight: 400;
        opacity: 0.6;
        letter-spacing: .6rem;
    }
    .boxDescription h2{
        font-size: 1rem;
     }
    .boxDescription h3{
        font-size: 1.5rem;
     }
     .boxDescription p{
        font-size: 1rem;
        
     }
     .boxPerfil{
        display: flex;
        width: 300px;
        border-radius: 30px;
    }
    .boxPerfil img{
        width: 100%;
        height: 100%;
        border-radius: 1%;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.6);
    }
    .boxAtuacoes{
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        margin: 10px;
    }
}
@media (max-width: 1025px){
    .banner {
        position: absolute;
        top: 30%;
        text-align:center;
    }
    .nav-link{
        font-size: 1rem;
        text-align: center;
    }
    .nav-item{
        display: flex;
    }
}
